BOT_TOKEN=123456789:ABCdefGhIJKlmnoPQRstuVWxyz_example
OPENAI_KEY=sk-or-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
MAX_COMPLETION_TOKENS=500
MODEL="openai/gpt-oss-120b"
BASE_URL="https://openrouter.ai/api/v1"
